<div class="banner">
  <div class="container">
    <h1>Because you need <strong>Drinks-Menu</strong> for <strong>life enjoying</strong>!</h1>
    <p>Have a minute? Take a look for our drinks.</p>
    <a class="btn btn-flat" href="/index">Go to menu</a>
  </div>
</div>
